---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="0;url=/event3#packages" />
<title>Redirecting to Elote King Event #3 Menu...</title>
<link rel="canonical" href="https://events.elotekingatlanta.com/event3#packages" />
<script>window.location.replace('/event3#packages');</script>
</head>
<body>
<p>Redirecting to <a href="/event3#packages">menu</a>...</p>
</body>
</html>
