---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="0;url=/#flights" />
<title>Redirecting to Elote King Event #2 Flights...</title>
<link rel="canonical" href="https://events.elotekingatlanta.com/#flights" />
</head>
<body>
<p>Redirecting to <a href="/#flights">flight selection</a>...</p>
</body>
</html>
